keiboard-container {
	position: absolute;
	height: 45%;
	bottom:0px;
	width:100%;
	overflow:hidden;
	z-index:-99998;
	opacity: 0;
}

keiboard-container[data-keiboard-is-visible="true"] {
	z-index:99998;
	opacity: 1;
}