<template id="keiboard-container">
	<div class="keiboard-container">
	</div>
</template>

<template id="keiboard-numpad">
	<div class="keypad_numpadAreaContainer">
		<input type="text" placeholder="Start Typing" />
		<div class="keypad_numpadContainer">

		</div>
	</div>
</template>

<template id="keiboard-qwerty">
	<div class="keypad_qwertyAreaContainer">
		<input type="text" placeholder="Start Typing" />
		<div class="keypad_qwertyContainer">
			
		</div>
	</div>
</template>